.page-section {
	padding: 1.2rem 0; /*mobile first, small screen*/

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--no-b-padding-until-medium { /*get rid of the bottom lightblue/#e0e6ef in the last testimonials in small screen*/
		padding-bottom: 0;
	}

	@mixin atMedium { /* in medium/large screen adding padding to the bottom*/
		padding-bottom: 4.5rem;
	}

	&--no-b-padding-until-large { /*get rid of the bottom lightblue/#e0e6ef in the last testimonials in small screen*/
		padding-bottom: 0;
	}

	@mixin atLarge { /* in medium/large screen adding padding to the bottom*/
		padding-bottom: 4.5rem;
	}

	&--blue {
		background-color: $mainBlue;
		color: #fff;
	}

	&--testimonials {
		background-color: #e0e6ef;

		@mixin atLarge { /* 58 6:00 cuz github we change /assets/ to ../../assets/ */
			background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
		background-size: cover;
		}
		
	}
	
}